{{> navigation}}

<div class="mt-5"></div>

<div id="divAlert">{{> message}}</div>

{{#if resultados}}
<table class="table bg-lightgrey table-hover table-font-size sortable" id="tabla-notificaciones">
  <thead class="bg-gray">
    <tr>
      <th class="pointer" scope="col">Unidad</th>
      <th class="pointer" scope="col">Fecha/Hora</th>
      <th class="pointer" scope="col">A.P.C.</th>
      <th class="pointer" scope="col">A.U.C.</th>
      <th class="pointer" scope="col">Grupos</th>
      <th class="pointer" scope="col">Usuario</th>
      <th class="pointer" scope="col">Ubicación</th>
      <th class="sorttable_nosort" scope="col"></th>
    </tr> 
  </thead>
  <tbody class="break-text" id="table-body"> 
  </tbody>
</table> 
<div class="row">
    <div class="col-md-12 text-center d-flex justify-content-end">
        <ul id="pagination" class="pagination-sm"></ul>
    </div>
</div>
{{else}}
<div class="offset-1 col-10" style="margin-top: 72px;">
    <div class="alert alert-warning alert-dismissible fade show w-100" role="alert">
        No existen registros en la sección en proceso.
    </div>
</div>
{{/if}}

<!-- Modal -->
<div id="modalComent2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Comentarios</h3>
        </div>
        <div>
            <form action="/proceso_submit" method="POST" id="formComent">
                <div class="modalBody">
                    <input id="idNot" name="idNot" type="hidden" value="">
                    <div class="form-row mb-3">
                        <div class="col">
                            <label class="font-weight-bold" for="actividad">Selecciona una actividad</label>
                            <select class="form-control" id="actividad" name="actividad">
                                {{#each actividades}}
                                <option value="{{ id }}">{{ nombre }}</option>
                                {{/each}}
                            </select> 
                        </div>
                        <div class="col">
                            <label class="font-weight-bold" for="estado">Selecciona estado</label>
                            <select class="form-control" id="estado" name="estado">
                                {{#each estados}}
                                    {{#if (est id)}}
                                        <option value="{{ id }}" selected>{{ nombre }}</option>
                                    {{else}}
                                        <option value="{{ id }}">{{ nombre }}</option>
                                    {{/if}}
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            <label class="font-weight-bold" for="aviso">Elige aviso del operador</label>
                            <select class="form-control aviso" id="aviso" name="aviso">
                                <option value="si">Sí</option>
                                <option value="no" selected>No</option>
                            </select>
                        </div>
                        <div class="col sectionCom" id="sectionCom">
                            <label class="font-weight-bold" for="comunicacion">Medio de comunicación</label>
                            <select class="form-control comunicacion" id="comunicacion" name="comunicacion">
                                {{#each comunicacion}}
                                <option value="{{ id }}">{{ nombre }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <textarea class="form-control" id="comentarios" name="comentarios" rows="3"
                        placeholder="Ingrese un comentario"></textarea>
                </div>
                <div class="modalFooter d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                    <button type="button" class="btn btn-secondary" id="cancelar">Cancelar</button>
                </div>
            </form>
            <div class="my-3 mb-4 d-flex justify-content-center">
                {{!-- <form id="formHistorial">
                    <input id="idNot2" name="idNot2" type="hidden" value="">
                    <button id="btnHistorial" type="submit" class="btn btn-outline-primary px-5 mb-3">Ver historial</button>
                </form> --}}
            </div>
            <div id="historialTabla" class="historialTabla"></div>
        </div>
    </div>
</div>

<script>

    /////////////////// MODAL
    var modal = document.getElementById("modalComent2");
    var modal2 = document.getElementById("modalAdvert");
    var cancelar = document.getElementById("cancelar");
    var span = document.getElementsByClassName("cerrar")[0];

    cancelar.onclick = function() {
        modal.style.display = "none";
        document.getElementById("idNot").value = "";
        document.getElementById("historialTabla").innerHTML = "";
        document.getElementById('actividad').value = "1";
        document.getElementById('estado').value = "2";
        document.getElementById('comunicacion').value = "1";
        document.getElementById('comentarios').value = "";
    }
    span.onclick = function() {
        modal.style.display = "none";
        document.getElementById("historialTabla").innerHTML = "";
        document.getElementById("idNot").value = "";
        document.getElementById('actividad').value = "1";
        document.getElementById('estado').value = "2";
        document.getElementById('comunicacion').value = "1";
        document.getElementById('comentarios').value = "";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
            modal2.style.display = "none";
            document.getElementById("idNot").value = "";
            document.getElementById("historialTabla").innerHTML = "";
            document.getElementById('actividad').value = "1";
            document.getElementById('estado').value = "2";
            document.getElementById('comunicacion').value = "1";
            document.getElementById('comentarios').value = "";
        }
        if (event.target == modal2) {
            modal2.style.display = "none";
        }
    }

    //////////////Aviso Operador - Mostrar ocultar select comunicacion
    const selectAviso = document.querySelector('#aviso');
    const selectComunicacion = document.querySelector('#sectionCom');

    selectAviso.addEventListener('change', (event) => {

        if (selectAviso.value === 'si') {
            selectComunicacion.style.display = "block";
            document.getElementById("aviso").style.width = "100%";
        } else if (selectAviso.value === 'no') {
            selectComunicacion.style.display = "none";
            selectComunicacion.value = "1";
            document.getElementById("aviso").style.width = "49%";
        }
    });

    /////////////Pasa el id cuando se abre modal
    function idPass(id){
        var changeclass = document.getElementsByClassName("modal")[0];
        changeclass.style.display = "block";

        document.getElementById("idNot").value = id;
        historial(id);
    }

    /////////////////////Mandar id por el metodo POST para mostrar el historial
    function historial(id){
 
        let divTabla = document.getElementById("historialTabla");

        fetch('/proceso_historial', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({id: id})
        })
        .then((res) => res.json())
        .then((data) => {
            var html = '';
            if(data.msj === ""){
                html += `<table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Comunicación</th>
                                    <th scope="col">Actividad</th>
                                    <th scope="col">Comentario</th>
                                    <th scope="col">Usuario</th>
                                </tr>
                            </thead>
                            <tbody>`;
                data.coment.forEach(com => {
                    html += `<tr>
                            <th scope="row">${com.fecha}</th>
                            <td>${com.comunicacion}</td>
                            <td>${com.nombreAct}</td>
                            <td>${com.texto}</td>
                            <td>${com.nombre} ${com.apellido}</td>
                        </tr>`
                });
                html += `</tbody></table>`;
                divTabla.innerHTML = html;
            } else {
                html += `<div class="alert alert-warning" role="alert">${data.msj}</div>`;
                divTabla.innerHTML = html;
            }
        })
        .catch((err)=>console.log(err));
    }

    /////////Paginacion
    var $pagination = $('#pagination'),
        totalRecords = 0,
        records = [],
        displayRecords = [],
        recPerPage = 18,
        totalPages = 0,
        page = 1;

    function actualizar() {
        fetch('/notEnProceso', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then((res) => res.json())
            .then((data) => {
                records = data.results;
                totalRecords = records.length;
                totalPages = Math.ceil(totalRecords / recPerPage);
                apply_pagination();

            })
            .catch((err) => console.log(err));
    }

    function generate_table() {
        var tr;
        $('#table-body').html('');
        for (var i = 0; i < displayRecords.length; i++) {

            if (displayRecords[i].apc === null) {
                displayRecords[i].apc = "";
            }
            if (displayRecords[i].auc === null) {
                displayRecords[i].auc = "";
            }
            if (displayRecords[i].usuario === null) {
                displayRecords[i].usuario = "";
            }
            if (displayRecords[i].grupo === null) {
                displayRecords[i].grupo = "";
            }
            if (displayRecords[i].nombreNotif === null) {
                displayRecords[i].nombreNotif = "";
            }

            tr = $('<tr/>');
            tr = $('<tr>');
            tr.append('<td class="font-weight-bold">' + displayRecords[i].idUnidad + '</td>');
            tr.append("<td class='text-center'>" + displayRecords[i].fecha + "</td>");
            tr.append("<td>" + displayRecords[i].apc + "</td>");
            tr.append("<td>" + displayRecords[i].auc + "</td>");
            tr.append("<td>" + displayRecords[i].grupo + "</td>");
            tr.append("<td>" + displayRecords[i].usuario + "</td>");
            tr.append('<td><a href="https://maps.google.com/?q=' + displayRecords[i].longitude + ',' + displayRecords[i].latitude + '" target="_blank">' + displayRecords[i].nombreNotif + '</a></td>');
            tr.append('<td class="d-flex"><button type="button" class="btn btn-primary mr-2" data-toggle="tooltip" data-placement="bottom" title="Comentarios" onclick="idPass(' + displayRecords[i].id + ')"> <i class="fa fa-edit"></i></button></td>');
            $('#table-body').append(tr);
        }
    }
    function apply_pagination() {
        $pagination.twbsPagination({
            totalPages: totalPages,
            visiblePages: 6,
            startPage: page,
            initiateStartPageClick: true,
            next: 'Siguiente',
            prev: 'Anterior',
            first: 'Inicio',
            last: 'Último',
            onPageClick: function (event, page) {
                displayRecordsIndex = Math.max(page - 1, 0) * recPerPage;
                endRec = (displayRecordsIndex) + recPerPage;
                displayRecords = records.slice(displayRecordsIndex, endRec);
                generate_table();
            }
        });
    }
    
    actualizar();
</script>